$primaryColor: #ed1260;
$secondaryColor: #f38a03;
$textColor: #ffffff;
$backgroundColor: #151616;

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $backgroundColor;
    color: #fff;
}

.lock {
    overflow: hidden;
}

.header {
    width: 100%;

    &_nav {
        height: 54px;
        background-color: $backgroundColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 0 12px;
    }

    .logo {
        width: 89px;
        height: 100%;
        padding-top: 2px;
        transition: all 0.3s ease-out;

        img {
            width: 80%;
        }
    }

    .burger {
        position: relative;
        z-index: 10;
        width: 45px;
        height: 45px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &_item {
            display: block;
            margin: 0 auto;
            height: 2px;
            width: 25px;
            border-radius: 10px;
            background-color: $secondaryColor;
        }

        &_item:nth-child(2) {
            margin: 7px 0;
        }
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
        position: fixed;
        top: 54px;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-color: $backgroundColor;
        padding: 30px;
        font-size: 30px;
        overflow: hidden;

        .header_menu_items {
            position: relative;
            z-index: 4;
        }

        .menu__item {
            padding-bottom: 50px;
        }
    }
}

.menu__item {
    a {
        text-decoration: none;
        color: #fff;
    }
}

@media (min-width: 768px) {
    .header {
        &_nav {
            max-width: 957px;
            margin: 0 auto;
        }

        &_container {
            max-width: 957px;
            margin: 0 auto;
        }

        .burger {
            display: none;
        }

        .menu {
            display: unset;
        }
    }

    .header_menu_items {
        display: flex;

        .menu__item {
            padding-left: 95px;
            align-items: center;
            font-size: 20px;
            font-weight: 500;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &_nav {
            max-width: 1150px;
            margin: 0 auto;
        }

        .logo {
            width: 100px;
            padding-top: 0;
            margin-left: 0;

            img {
                width: 85%;
            }
        }
    }
}

.top_banner {
    min-height: 442px;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 104px;

    &_info {
        position: absolute;
        top: 40px;
        left: 12px;
        text-align: center;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -65px;
        right: -1px;
        width: 70%;
        height: 65px;
        background-color: $primaryColor;
        transition: all 0.3s ease-out;
    }
}

.main_title {
    font-size: 25px;
    text-transform: uppercase;
    padding: 43px 42px;
    color: #fff;
    background-color: $backgroundColor;
    margin-bottom: 24px;
    transition: all 0.3s ease-out;
}

.website {
    font-size: 16px;
    padding: 9px 32px;
    background-color: $backgroundColor;
    color: #fff;
    transition: all 0.3s ease-out;
}

.description {
    margin: 0 55px 55px;
    font-size: 1rem;
    line-height: 1.25em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;

    .division {
        width: 50%;
        text-align: center;
        margin-bottom: 40px;
        padding: 0 10px;
        transition: all 0.3s ease-out;
    }

    .division_name {
        font-size: 14px;
        line-height: 17px;
        padding: 0 10px;
        transition: all 0.3s ease-out;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 15px;
    }

    img {
        width: 65px;
    }
}

@media (min-width: 960px) {
    .header {
        &_nav {
            padding: 0;
        }
    }

    .top_banner {
        max-width: 960px;
        height: 513px;

        &_info {
            top: 79px;
            left: 48px;
        }
    }

    .container {
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 90px;

        .division {
            width: 33%;
        }

        .division_name {
            font-size: 18px;
            line-height: 22px;
            padding: 0 30px;
        }

        img {
            width: 75px;
        }
    }

    .description {
        font-size: 25px;
        line-height: 30px;
        margin-left: 30px;
    }

    .main_title {
        font-size: 32px;
        padding: 55px 53px;
        margin-bottom: 35px;
    }

    .website {
        font-size: 22px;
        padding: 14px 55px;
    }
}

@media (min-width: 1200px) {
    .top_banner {
        margin-bottom: 37px;

        &::after {
            top: 0;
            right: -100px;
            width: 100px;
            height: 347px;
        }
    }
}

.map {
    width: 346px;
    height: 177px;
    margin: 0 auto;
    border: 5px solid $primaryColor;
    padding: 15px 15px 0;
    position: relative;
    margin-bottom: 63px;
    transition: all 0.3s ease-out;

    &::after {
        content: url(../img/placeholder.svg);
        position: absolute;
        top: 29%;
        left: 50%;
        transition: all 0.3s ease-out;
    }

    img {
        width: 100%;
    }

    p {
        text-align: center;
        font-size: 12px;
        line-height: 21px;
        transition: all 0.3s ease-out;
    }
}

@media (min-width: 768px) {
    .map {
        width: 579px;
        height: 296px;
        padding: 27px 27px 0;

        &::after {
            top: 32%;
            left: 51%;
            transform: scale(1.7);
        }

        p {
            font-size: 22px;
            line-height: 46px;
        }
    }
}

.contacts {
    width: 100%;
    border: 5px solid $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_title {
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        padding-top: 1.6rem;
        margin-bottom: 25px;
    }
}

.contact {
    width: 250px;
    font-size: 1.125rem;
    line-height: 1.6rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &_title {
        display: none;
    }

    &_icon {
        width: 30px;
        height: 30px;
        margin-right: 25px;
    }

    img {
        width: 100%;
    }

    &_info {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .contacts {
        max-width: 960px;
        margin: 0 auto;
        align-items: flex-start;
        padding-left: 30px;
        border: none;

        &_title {
            font-size: 2.81rem;
            margin-bottom: 80px;
        }

        &_container {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    .contact {
        flex-direction: column;
        align-items: center;
        text-align: center;

        &_title {
            display: unset;
            text-align: center;
        }

        &_icon {
            width: 40px;
            height: 40px;
            margin: 0;
            margin-bottom: 45px;
        }

        &_info {
            font-size: 25px;
            line-height: 30px;
        }
    }
}